body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-weight: 600;
    font-size: 2.5rem;
}
p {
    font-size: 18px;
    color: #444;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    z-index: 1000;
}
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}
.member-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.card-container {
    display: flex; /* Allows cards to adapt to window resizing */
    flex-wrap: wrap;  /* Allows cards to wrap to a new line */
    justify-content: center; /* Centers the cards in the container*/
    gap: 10px;  /* Space between cards */
    padding: 10px;
}
.card {
    width: 400px;
    height: 500px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}
.card-img {
    width: 100%;
    height: auto;
    padding: 20px; 
}
.green-text {
    color: rgb(59, 189, 59);
}
.fire-text {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(45deg, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(255, 69, 0, 0.8);
}
.red-text {
    color: red;
}
.more-padding {
    padding: 40px;
}